@font-face {
  font-family: "ITC Benguiat Std";
  src: url("../assets/fonts/itc-benguiat-std/ITCBenguiatStdBookCn.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Benguiat Std";
  src: url("../assets/fonts/itc-benguiat-std/ITCBenguiatStdMediumCn.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Benguiat Std";
  src: url("../assets/fonts/itc-benguiat-std/ITCBenguiatStdBoldCn.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
