/* =========================
   HERO
========================= */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  touch-action: none;

  background: url("/images/will.webp") center / cover no-repeat;
}

/* =========================
   FIRE REVEAL LAYER
========================= */
.fire-reveal {
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: url("/images/vecna.png") center / cover no-repeat;
  background-position: 40% 7%;

  opacity: 0;
  transition: opacity 0.55s ease;

  /* Cursor variables (set by JS) */
  --tx: calc(var(--x) - 24px);
  --ty: calc(var(--y) - 18px);

  /* Multi-blob mask */
  -webkit-mask-image:
    radial-gradient(
      circle 400px at var(--x) var(--y),
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.6) 40%,
      transparent 70%
    ),
    radial-gradient(
      circle 450px at calc(var(--x) + 50px) calc(var(--y) - 40px),
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.4) 40%,
      transparent 70%
    ),
    radial-gradient(
      circle 200px at calc(var(--x) - 50px) calc(var(--y) + 30px),
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.3) 40%,
      transparent 70%
    );

  mask-image:
    radial-gradient(
      circle 400px at var(--x) var(--y),
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.6) 40%,
      transparent 70%
    ),
    radial-gradient(
      circle 450px at calc(var(--x) + 50px) calc(var(--y) - 40px),
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.4) 40%,
      transparent 70%
    ),
    radial-gradient(
      circle 200px at calc(var(--x) - 50px) calc(var(--y) + 30px),
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.3) 40%,
      transparent 70%
    );

  animation: pulseBlob 3s ease-in-out infinite;
}

.fire-reveal.active {
  opacity: 1;
}

/* =========================
   ANIMATIONS
========================= */
@keyframes pulseBlob {
  0%,
  100% {
    filter: blur(0px);
  }
  50% {
    filter: blur(0px);
  }
}

/* =========================
   LEFT CONTENT
========================= */
.left {
  position: absolute;
  bottom: 50px;
  left: 50px;

  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left h1 {
  font-size: 70px;
  color: red;
  text-shadow:
    0 0 8px rgba(179, 0, 0, 0.6),
    0 0 18px rgba(179, 0, 0, 0.4);
}

.left p {
  font-size: 20px;
}

.left button {
  padding: 15px;
  font-size: 19px;
  border-radius: 10px;

  background-color: black;
  color: aliceblue;
}

/* =========================
   RIGHT CONTENT
========================= */
.right {
  position: absolute;
  bottom: 100px;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right h1 {
  width: 470px;
  font-size: 60px;
  text-shadow:
    0 0 8px rgba(179, 0, 0, 0.6),
    0 0 18px rgba(179, 0, 0, 0.4);
}

.right p {
  width: 400px;
  font-size: 22px;
}
