* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #111113;
  overscroll-behavior: none;
  overflow-x: hidden;
}
